/* modal */
.swatch-preview {
	width: 44px;
	height: 44px;
	line-height: 44px;
	text-align: center;
	font-weight: 700;
	border: 1px solid #ccc;
}

.iori-modal-container {
	position: relative;
	display: none;
}

.iori-modal {
	transform: translate(-50%, -50%);
	position: fixed;
	top: 50%;
	left: 50%;
	width: 360px;
	max-width: 90%;
	z-index: 159990;
	background-color: #fcfcfc;
}

.iori-modal-container:after {
	position: fixed;
	content: "";
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	min-height: 360px;
	background: #000;
	opacity: .7;
	z-index: 159900;
}

.iori-modal input.error {
	border-color: #dc3232;
}

.iori-modal-header,
.iori-modal-content,
.iori-modal-footer {
	padding: 20px;
}

.iori-modal-header {
	padding-top: 0;
	padding-bottom: 0;
}

.iori-modal-content {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background-color: #fff;
}

.iori-modal-footer {
	text-align: right;
}

.iori-modal-footer .message,
.iori-modal-footer .spinner {
	float: left;
}

.iori-modal-footer .message.error {
	color: #dc3232;
}

.iori-modal-footer .message.success {
	color: #46b450;
}
