.search-page-details {
    .blog-item-details {
        margin-bottom: 40px;
    }
    .entry-content {
        p {
            font-size: 16px;
            line-height: 25px;
        }
    }
}

.search-main {
    .box-list-blogs {
        .post-thumbnail {
            img {
                height: auto;
            }
        }
    }
}