.widget {
	margin: 0 0 1.5em;
	
	// Make sure select elements fit in widgets.
	select {
		max-width: 100%;
	}
}

.widget.block {
	margin-top: 25px;
}

.widget_categories {
	ul {
		list-style: none;
		padding: 0;
	}

	li {
		text-transform: capitalize;
	}

	li:not(a) {
		color: #dadada;
	}

	select {
		display: block;
		height: 40px;
		margin-top: 15px;
		padding: 7px 10px;
		width: 100%;
		
		option {
			padding: 7px 10px;
		}
	}
}

.widget_archive {
	select {
		display: block;
		height: 40px;
		margin-top: 15px;
		padding: 7px 10px;
		width: 100%;
		
		option {
			padding: 7px 10px;
		}
	}
}

.widget_recent_entries { 
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

/* - product list Style
------------------------------------------*/
.product_list_widget {
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		border-block-end: 1px solid #ddd;
		display: table;
		padding: 16px 0;
		width: 100%;
		
		img {
			float: left;
			margin-right: 15px;
			width: 65px;
		}
		&:last-child {
			border: none;
		}
	}
	
	.product-title {
		color: #111;
		display: block;
	}
	
	.woocommerce-Price-amount.amount {
		display: block;
		font-family: 'Oswald';
		margin-left: 80px;
	}
	
	.star-rating {
		left: -10px;
		margin-left: 85px !important;
		position: relative;
	}
	
}

.widget_products {
	span.woocommerce-Price-amount.amount {
		margin: 0;
		display: inline-block;
		margin-right: 3px;
	}
	
	.star-rating {
		margin-left: 8px !important;
		font-size: 10px;
	}
}

/* - Rss Style
------------------------------------------*/

.widget_rss ul li {
	padding-bottom: 15px;
	
	a {
		display: block;
		padding-bottom: 4px;
	}
	
	cite {
		display: inline-block;
		padding-top: 6px;
	}
}

a.rsswidget {
	font-weight: bold;
}

span.rss-date {
	display: block;
	font-size: 12px;
	font-style: italic;
	margin-bottom: 12px;
}

/* - Recent comments
------------------------------------------*/
.recentcomments {
	border-bottom: 1px solid #efefef;
	color: #000;
	padding: 10px 0 !important;
	.comment-author-link {
		font-weight: bold;
		text-transform: capitalize;
	}
}

/* - Tag Cloud Style
------------------------------------------*/

.widget_tag_cloud {
	.tagcloud {
		margin-top: 20px;
	}
	
	a {
		border: 1px solid #b1b1b1;
		border-radius: 5px;
		color: #3f3f3f;
		display: inline-block;
		font-size: 0.7rem !important;
		font-weight: 400;
		margin-bottom: 0.5rem;
		margin-right: 0.35rem;
		padding: 0.35rem 1rem;
		position: relative;
		text-transform: uppercase;
	}
	
	span.tagcount {
		color: #000;
		font-size: 13px;
		font-weight: 700;
		margin-left: 4px;
	}
	
	a {
		
		&:hover,
		&:focus {
			background-color: #efefef;
			color: #000;
			text-decoration: none;
		}
	}
}

.footer-widget {
	margin-bottom: 40px;
}

/* - Sidebar Default Menu Style 
------------------------------------------*/

.widget_nav_menu {
	ul {
		list-style: none;
		margin-left: 0 !important;
		padding-left: 0 !important;
		
		li {
			line-height: 2.2;
			margin-bottom: 0;
			
			a {
				border-bottom: 1px solid #efefef;
				color: #000;
				display: block;
				position: relative;
    			padding: 10px 0;
			}
			
			.sub-menu {
				margin-left: 10px !important;
				
				.sub-menu {
					.sub-menu {
						.sub-menu {
							margin-left: 0 !important;
						}
					}
				}
			}
		}
	}
	
	.menu {
		padding-left: 20px;
	}
}


// dokan
.dokan-store-widget li,
.dokan-store-widget ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.children.level-0 {
	margin-left: 5px;
}

span.seller-rating {
	display: none;
}