.line-login {
    height: 8px;
    display: inline-block;
    width: 100%;
    background: url(../imgs/page/login/line.png) no-repeat top left;
    background-size: contain;
}
.box-banner-login {
    max-width: 600px;
    margin: auto;
    .title {
        margin-top: 50px;
    }
    .login-btn {
        color: #FFE7BB;
        padding: 12px 14px;
        background-color: #024430;
        border-radius: 8px;
        transition: all .3s ease 0s;
        &:hover {
            background-color: #066a4c;
            transition: all .3s ease 0s;
        }
    }
}
.banner-login {
    .box-banner-abs {
        top: 40%;
        transform: translateY(-40%);
    }
}
