.box-banner-shop-list {
    padding: 0px;
}
.box-banner-image {
    display: inline-block;
    width: 100%;
    padding: 32px;
}
.mw-90 {
    max-width: 90%;
}
.list-buttons-round {
    li {
        a {
            border-radius: 50px;
        }
    }
}
.box-info-banner-shop-list {
    padding: 5px 32px;
}
.box-quantity {
    display: flex;
    .form-quantity {
        max-width: 95px;
        background-color: $background-white;
        border-radius: 4px;
        height: 50px;
        position: relative;
        width: 95px;
        overflow: hidden;
        border: 1px solid $color-gray-80;
        input {
            height: 50px;
            border: 0px;
            padding:7px 20px 10px 25px;
            line-height: 34px;
            font-size: 26px;
            color: $color-brand-1;
            font-weight: bold;
            width: 100%;
        }
        .button-quantity {
            position: absolute;
            top: 3px;
            right: 5px;
            height: 20px;
            width: 40px;
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
        }
        .button-up {
            background-image: url(../imgs/page/shop-list/up.svg);
        }
        .button-down {
            background-image: url(../imgs/page/shop-list/down.svg);
            top: auto;
            bottom: 3px;
        }
    }
}

.woocommerce ul.products li.product .button {
    display: inline-block;
    margin-top: 1em;
    padding: 15px 24px;
    color: #FFE7BB;
    background: #024430;
    border-radius: 4px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
}

.woocommerce div.product form.cart .button {
    vertical-align: middle;
    float: left;
    display: inline-block;
    margin-top: 0;
    padding: 15px 24px;
    color: #FFE7BB;
    background: #024430;
    border-radius: 4px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
}

/* Product List */
.products-list,
.products-grid {
  display: flex;
  width: 100%;
}

.products-list {
  .star-rating {
    margin: inherit;
  }
}

.products-list .product-item {
  -ms-flex-wrap: wrap;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  border: 0;

  .product-image {
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
    padding: 0 15px;
    position: relative;

    .product-label {
      right: 25px;
    }

    img {
      min-width: 100%;
    }
  }

  .product-details {
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
    padding: 0 15px;

    .product-detail-info {
      padding-right: 50px;
      position: relative;

      .add-to-wishlist {
        -moz-transition: all 300ms;
        -ms-transition: all 300ms;
        -webkit-transition: all 300ms;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 50%;
        color: #ddd;
        height: 34px;
        line-height: 34px;
        padding: 0;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        transition: all 300ms;
        width: 34px;

        &:hover {
          background-color: #222;
          border-color: #222;
          color: #fff;
        }
      }

      .quick-wishlist {
        position: absolute;
        right: 0;

        .quickview {
          border: 1px solid #ddd;
          border-radius: 100%;
          bottom: -45px;
          color: #ddd;
          height: 34px;
          width: 34px;
          display: block;
          line-height: 32px;
          position: relative;
          text-align: center;

          &:hover {
            background: #111;
            border: 1px solid #111;
            color: #fff;
            cursor: pointer;
          }
        }
      }
    }

    h2.woocommerce-loop-product__title {
      margin-top: 0;
      font-weight: bold;
      font-size: 1.5em !important;
      line-height: 1.5;
    }

    .product-name {
      font-size: 18px;
      margin-bottom: 13px;
    }

    .add-to-cart-wrap {
        padding: 0;
    }
    .rating-summary {
      margin-bottom: 21px;
    }

    .price {
      display: block;
      font-size: 18px;
      margin-bottom: 8px;
    }

    .short-description {
      color: #5c5c5c;
      font-size: 13px;
      margin-bottom: 26px;
    }
  }
}

/* Product List 2 Columns */
@media (min-width: 992px) {
  .products-list.two-columns .product-item {
    .product-image {
      -ms-flex: 0 0 47%;
      flex: 0 0 47%;
      max-width: 47%;
      padding: 0 15px;
    }

    .product-details {
      -ms-flex: 0 0 53%;
      flex: 0 0 53%;
      max-width: 53%;
      padding: 0 15px;
    }
  }
}

/* Product Slider */
.products-grid {
  &.owl-carousel.owl-one-row {
    .item {
      margin-bottom: 0;
    }

    > .owl-stage-outer > .owl-stage > .owl-item {
      padding: 0 15px;
    }
  }

  &.products-grid-v2 {
    .product-item {
      background-color: #fbf9f8;
      border-radius: 4px;
      height: 100%;

      &.bg_blue {
        background-color: #e0ecf8;
      }

      &.bg_blue_sky {
        background-color: #d6f9f2;
      }

      &.bg_gray {
        background-color: #f3f3f3;
      }
    }

    &.no-center {
      .product-item .product-details {
        .product-details--1st {
          text-align: left;
        }

        .rating-summary {
          margin: 15px 0 0;

          .rating-result {
            margin: 0;
          }
        }
      }

      .product-details-info {
        -ms-flex-align: start !important;
        -ms-flex-pack: justify !important;
        align-items: flex-start !important;
        display: -ms-flexbox !important;
        display: flex !important;
        justify-content: space-between !important;
      }

      .product-item .product-details .product-price {
        margin: 0;
        padding-left: 15px;
      }
    }
  }
}

// .page-detail-wrapper {
//     max-width: 1385px;
//     margin: auto;
// }

h1.product_title.entry-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
}

.woocommerce div.product div.images.woocommerce-product-gallery {
    order: 2;
}

.woocommerce .quantity .qty {
    width: 5.631em;
    padding: 14px;
}

.product-details-tab h2 {
    font-size: 32px;
    margin: 0;
}

.woocommerce-Reviews .comment-respond .comment-reply-title {
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
}

.woocommerce #review_form #respond .form-submit:hover input {
    background: #036144;
    color: #fff;
}

.woocommerce #review_form #respond .form-submit input {
    left: auto;
    background: #034430;
    color: #fff;
    padding: 15px 50px;
}

.woocommerce div.product p.price, .woocommerce div.product span.price {
    font-size: 2.25em;
    display: flex;
    gap: 20px;
    margin: 30px 0;
    margin-top: 20px;
}

.woocommerce div.product p.price del, .woocommerce div.product span.price del {
    order: 2;
}

.woocommerce div.product p.price ins, .woocommerce div.product span.price ins {
    text-decoration: none;
}

span.woocommerce-Price-amount.amount {
    color: #06D6A0;
}

.price del {
    text-decoration: double;
}

del span.woocommerce-Price-amount.amount {
    color: #8EA4AC;
}

.woocommerce-product-details__short-description p {
    color: #4E6770;
    font-weight: 500;
    font-family: "Manrope", sans-serif;
    line-height: 18px;
    font-size: 12px;
}

.flex-control-nav.flex-control-thumbs {
    display: flex;
    gap: 10px;
}

.flex-control-nav.flex-control-thumbs li {
    line-height: 121px;
    border: 1px solid #CDE2E7;
    padding: 8px;
    cursor: pointer;
}

.flex-control-nav.flex-control-thumbs img {
    padding: 10px;
}

.st-product-details:before {
    content: "";
    width: 100%;
    position: absolute;
    height: 1px;
    background: #e7e7e7;
    left: 0;
}


@media screen and (min-width: 48em) {
	
	ul.products {
		
		li.product {
			
			@include column-width(3);
			float: left;
			margin-right: $columns__margin;
			
			&.first {
				clear: both;
			}
			
			&.last {
				margin-right: 0;
			}
		}
	}
	
	ul.products.columns-1 {
		
		li.product {
			float: none;
			width: 100%;
		}
		
	}
	
	@for $i from 2 through 6 {
		
		ul.products.columns-#{$i} {
			
			li.product {
				
				@include column-width($i);
			}
			
		}
	}

	.products-list ul.products.columns-4 li.product {
        width: 100%;
        margin-right: 0;
        margin-bottom: 0;
	}
}
