.list-categories {
  padding: 0px;
  margin: 0px;
  list-style: none;
  li {
    display: inline-block;
    padding: 0px 5px;
    margin-bottom: 10px;
  }
}
.banner-shop-grid {
  padding: 120px 0px;
  text-align: center;
}
.box-banner-shop-grid {
  position: relative;
  background-image: url(../imgs/page/shop/bg-banner2.png);
  background-repeat: no-repeat;
  background-position: top right;
  .container {
    position: relative;
    z-index: 2;
  }
  &::before {
    position: absolute;
    bottom: 0px;
    left: 0px;
    content: "";
    width: 549px;
    height: 377px;
    background: url(../imgs/page/shop/bg-banner.png) no-repeat top left;
    background-size: contain;
  }
}
.filter-link {
  display: inline-block;
  height: 24px;
  width: 24px;
  margin-right: 12px;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: middle;
  &.btn-grid {
    background-image: url(../imgs/page/shop/grid.svg);
    &:hover {
      background-image: url(../imgs/page/shop/grid-active.svg);
    }
  }
  &.btn-list {
    background-image: url(../imgs/page/shop/list.svg);
    &:hover {
      background-image: url(../imgs/page/shop/list-active.svg);
    }
  }
  &:last-child {
    margin-right: 0px;
  }
}
.dropdown-sort {
  .btn {
    padding: 16px 44px 16px 16px;
    border: 1px solid $color-gray-80;
    background-image: url(../imgs/page/shop/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: right 15px center;
  }
  .dropdown-toggle::after {
    display: none;
  }
  .dropdown-menu {
    padding: 0px;
    border: 1px solid $color-gray-80;
  }
  .dropdown-item {
    padding: 10px 15px;
    color: $color-gray-500;
  }
  .dropdown-item.active,
  .dropdown-item:active,
  .dropdown-item:hover {
    background-color: $color-gray-80;
  }
}
.box-sale {
  background-color: $color-gray-60;
  padding: 40px 30px;
  position: relative;
  margin-bottom: 30px;
  &.box-sale-left {
    padding-left: 45%;
  }
  .box-img-right {
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
  .box-img-left {
    position: absolute;
    bottom: 0px;
    left: 0px;
  }
}

// shop wooCommerce styles
.woocommerce-shop header.woocommerce-products-header {
  display: none;
}
.toolbar.product-toolbar.top-toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 18px;
  align-items: center;
  margin-bottom: 25px;
}
.woocommerce-notices-wrapper {
  flex: 0 0 100%;
}
.view-mode {
  font-size: 2em;
  order: 1;
}
.sort-by {
  order: 3;
}
.woocommerce .woocommerce-result-count {
  order: 4;
  margin-bottom: 0;
}
.woocommerce .woocommerce-ordering {
  order: 6;
  margin-bottom: 0;
}
.page-detail-wrapper {
  h2,
  .woocommerce-products-header {
    h1 {
      text-align: center;
      padding: 50px 0px;
    }
  }
}
.normal-shop-head {
  padding: 40px 0;
  h2 {
    margin-top: 0;
  }
}
.product-details {
  .card-info {
    a {
      &:hover {
        .woocommerce-loop-product__title {
          color: #06d6a0;
        }
      }
      .woocommerce-loop-product__title {
        color: #071920;
        font-weight: 700;
        font-size: 18px !important;
        line-height: 24px;
      }
    }
    .price {
      color: #006d77 !important;
      font-size: 22px !important;
      line-height: 24px !important;
      font-weight: bold;
      font-family: "chivo", sans-serif;
      min-width: 100%;
      max-width: 100%;
      text-align: left;
    }
  }
}
.woocommerce ul.products li.product .price ins {
  text-decoration: none;
}
.woocommerce-result-count {
  margin-right: 20px !important;
}
.woocommerce ul.products li.product a img {
  max-width: 100%;
  width: auto;
  margin: auto;
  box-shadow: none;
}
.product-details--hover .btn {
  padding: 0;
}

.product-list-options.image {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.product-list-options.image > div {
  border: 1px solid #ccc;
  padding: 0 7px;
  font-size: 10px;
}

// sorting styles
.woocommerce {
  .woocommerce-ordering {
    select {
      padding: 16px;
      border: 1px solid #cde2e7 !important;
      border-radius: 4px;
    }
  }
  .woocommerce-pagination {
    ul {
      li {
        span {
          &.current {
            color: #cde2e7;
            background-color: #024430;
            border-color: #024430;
          }
        }
      }
    }
  }
}

.woocommerce #reviews #comments h2 {
  font-size: 20px;
  text-transform: capitalize;
}

.single-product.woocommerce .woocommerce-breadcrumb::before {
  content: "\f1ec";
  float: left;
  margin-right: 5px;
  font-family: uicons-regular-rounded !important;
}