.alignleft {

	/*rtl:ignore*/
	float: left;

	/*rtl:ignore*/
	margin-bottom: 1.5em;
	margin-right: 1.5em;
}

.alignright {

	/*rtl:ignore*/
	float: right;

	/*rtl:ignore*/
	margin-bottom: 1.5em;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;

	@include center-block;

	margin-bottom: 1.5em;
}
